{% extends 'base.html' %}

{% block content %}
<style> 
</style>
<!-- As a heading -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Refiany Shadrina</span>
        <a href="{% url 'wishlist:logout' %}"></a><button class="btn btn-outline-light">Logout</button></a>
    </div>
  </nav>

<!-- <h5>Nama: </h5>
<b>{{nama}}</b> -->

<table class="table table-dark table-hover">
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
    <tr>
        <th>{{barang.nama_barang}}</th>
        <th>{{barang.harga_barang}}</th>
        <th>{{barang.deskripsi}}</th>
    </tr>
    {% endfor %}
</table>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}